
@{
    ViewBag.Title = "AddSupplier";
}

<h2>AddSupplier</h2>
<br />
<a href="/Pharmacy/AddNewSupplier" class="btn btn-primary">Add New Supplier</a>
<br />
<br />

<form action="" method="post">

    @foreach (var item in Model)
    {
        <input type="radio" name="Name" value="@item.Name" /> @item.Name <br />
    }
    <br />
    <input type="submit" class="btn btn-info" value="Confirm" />
</form>