
@{
    ViewBag.Title = "AssignEmployees";
}

<h2>AssignEmployees</h2>

<table width=100%>
    <tr>
        <td align="right">
            <a href="/Accounts/Logout" class="btn btn-danger">Logout</a>
        </td>
    </tr>
</table>

@if (TempData["msg"] != null)
{
    @TempData["msg"]
}

<form action="" method="post">
    <table class="table table-bordered text-center">
        <tr class="bg-info">
            <td>Employee Names</td>
            <td>Locations</td>
        </tr>

        @foreach (var cs in Model)
        {
            <tr>
                <td><input type="checkbox" name="Employees[]" value="@cs.Id" class="form-inline" /> @cs.Name</td>
                <td>@cs.Location</td>
            </tr>
        }
    </table>
    <input type="submit" value="Assign" class="btn btn-success" />
</form>