
@{
    ViewBag.Title = "EducationPage";
}

@Html.ActionLink("Home", "HomePage", "MyCV") ||
@Html.ActionLink("Education", "EducationPage", "MyCV") ||
@Html.ActionLink("Projects", "ProjectPage", "MyCV") ||
@Html.ActionLink("References", "ReferencePage", "MyCV")

<h2>EducationPage</h2>

<h3 class="bg-info">B.SC</h3>
CGPA: 3.97 <br />
Semester: 10th

<h3 class="bg-info">H.S.C</h3>
Institute: Uttara High School and College <br />
GPA: 4.25 <br />
Group: Science <br />
Year: 2019

<h3 class="bg-info">S.S.C</h3>
Institute: Narayanganj High School and College <br />
GPA: 5.00 <br />
Group: Science <br />
Year: 2017

