
@{
    ViewBag.Title = "HomePage";
}

@Html.ActionLink("Home", "HomePage", "MyCV") ||
@Html.ActionLink("Education", "EducationPage", "MyCV") ||
@Html.ActionLink("Projects", "ProjectPage", "MyCV") ||
@Html.ActionLink("References", "ReferencePage", "MyCV")

<h2>HomePage</h2>

<center>
    Name: Anik Kumar Saha <br />
    ID: 19-41289-3 <br />
    Email: anik@gmail.com <br />
    Contact: 01945687445 <br />
</center>


