
@{
    ViewBag.Title = "ProjectPage";
}

@Html.ActionLink("Home", "HomePage", "MyCV") ||
@Html.ActionLink("Education", "EducationPage", "MyCV") ||
@Html.ActionLink("Projects", "ProjectPage", "MyCV") ||
@Html.ActionLink("References", "ReferencePage", "MyCV")

<h2>ProjectPage</h2>

<h3 class="bg-info">Java</h3>
Title: Student management.
<br />
Description: Helps managing students.

<h3 class="bg-info">C#</h3>
Title: PetCare management.
<br />
Description: Helps managing pets.

<h3 class="bg-info">Web Technologies</h3>
Title: UniHub.
<br />
Description: Kind of LinkedIn but for university students only.

<h3 class="bg-info">Advanced Programming with Web Technologies</h3>
Title: Dekho.
<br />
Description: Goriber Netflix.