
@{
    ViewBag.Title = "ReferencePage";
}

@Html.ActionLink("Home", "HomePage", "MyCV") ||
@Html.ActionLink("Education", "EducationPage", "MyCV") ||
@Html.ActionLink("Projects", "ProjectPage", "MyCV") ||
@Html.ActionLink("References", "ReferencePage", "MyCV")

<h2>ReferencePage</h2>

<center>
    Name: Tanvir Sir <br />
    Email: tanvir@gmail.com <br />
    Contact: 01945687445 <br />
</center>

