
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered text-center">
    <a href="/Department/Add" class="btn btn-info">Add</a>
    <br />
    <br />

    <tr class="bg-info">
        <td>Name</td>
        <td colspan="3">Operations</td>
    </tr>

    @foreach (var pt in Model)
    {
        <tr>
            <td>@pt.Name</td>
            <td><a href="/Department/Edit/@pt.Id" class="btn btn-info">Edit</a></td>
            <td><a href="/Department/Delete/@pt.Id" class="btn btn-info">Delete</a></td>
            <td><a href="/Department/Details/@pt.Id" class="btn btn-info">Details</a></td>
        </tr>
    }
</table>