
@{
    ViewBag.Title = "CreateProject";
}

<h2>CreateProject</h2>

<form action="" method="post">
    <input type="text" placeholder="Project Name" value="" class="form-control" name="Name" />
    <input type="submit" class="btn btn-info"  value="Create" />
</form>